<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.BlfyMapper" >
  <resultMap id="BaseResultMap" type="com.creat.secret.po.Blfy" >
    <id column="blfy_id" property="blfyId" jdbcType="INTEGER" />
    <result column="body" property="body" jdbcType="VARCHAR" />
    <result column="zssjxt" property="zssjxt" jdbcType="VARCHAR" />
    <result column="pf" property="pf" jdbcType="VARCHAR" />
    <result column="gsqg" property="gsqg" jdbcType="VARCHAR" />
    <result column="xnxgxt" property="xnxgxt" jdbcType="VARCHAR" />
    <result column="wcd" property="wcd" jdbcType="VARCHAR" />
    <result column="xyxt" property="xyxt" jdbcType="VARCHAR" />
    <result column="gz" property="gz" jdbcType="VARCHAR" />
    <result column="dxhyyza" property="dxhyyza" jdbcType="VARCHAR" />
    <result column="patient_infor_id" property="patientInforId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    blfy_id, body, zssjxt, pf, gsqg, xnxgxt, wcd, xyxt, gz, dxhyyza, patient_infor_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.BlfyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blfy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blfy
    where blfy_id = #{blfyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blfy
    where blfy_id = #{blfyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.secret.po.BlfyExample" >
    delete from blfy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.secret.po.Blfy" useGeneratedKeys="true" keyProperty="blfyId">
    insert into blfy (blfy_id, body, zssjxt, 
      pf, gsqg, xnxgxt, wcd, 
      xyxt, gz, dxhyyza, 
      patient_infor_id)
    values (#{blfyId,jdbcType=INTEGER}, #{body,jdbcType=VARCHAR}, #{zssjxt,jdbcType=VARCHAR}, 
      #{pf,jdbcType=VARCHAR}, #{gsqg,jdbcType=VARCHAR}, #{xnxgxt,jdbcType=VARCHAR}, #{wcd,jdbcType=VARCHAR}, 
      #{xyxt,jdbcType=VARCHAR}, #{gz,jdbcType=VARCHAR}, #{dxhyyza,jdbcType=VARCHAR}, 
      #{patientInforId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.creat.secret.po.Blfy" >
    insert into blfy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blfyId != null" >
        blfy_id,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="zssjxt != null" >
        zssjxt,
      </if>
      <if test="pf != null" >
        pf,
      </if>
      <if test="gsqg != null" >
        gsqg,
      </if>
      <if test="xnxgxt != null" >
        xnxgxt,
      </if>
      <if test="wcd != null" >
        wcd,
      </if>
      <if test="xyxt != null" >
        xyxt,
      </if>
      <if test="gz != null" >
        gz,
      </if>
      <if test="dxhyyza != null" >
        dxhyyza,
      </if>
      <if test="patientInforId != null" >
        patient_infor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blfyId != null" >
        #{blfyId,jdbcType=INTEGER},
      </if>
      <if test="body != null" >
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="zssjxt != null" >
        #{zssjxt,jdbcType=VARCHAR},
      </if>
      <if test="pf != null" >
        #{pf,jdbcType=VARCHAR},
      </if>
      <if test="gsqg != null" >
        #{gsqg,jdbcType=VARCHAR},
      </if>
      <if test="xnxgxt != null" >
        #{xnxgxt,jdbcType=VARCHAR},
      </if>
      <if test="wcd != null" >
        #{wcd,jdbcType=VARCHAR},
      </if>
      <if test="xyxt != null" >
        #{xyxt,jdbcType=VARCHAR},
      </if>
      <if test="gz != null" >
        #{gz,jdbcType=VARCHAR},
      </if>
      <if test="dxhyyza != null" >
        #{dxhyyza,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        #{patientInforId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.secret.po.BlfyExample" resultType="java.lang.Integer" >
    select count(*) from blfy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blfy
    <set >
      <if test="record.blfyId != null" >
        blfy_id = #{record.blfyId,jdbcType=INTEGER},
      </if>
      <if test="record.body != null" >
        body = #{record.body,jdbcType=VARCHAR},
      </if>
      <if test="record.zssjxt != null" >
        zssjxt = #{record.zssjxt,jdbcType=VARCHAR},
      </if>
      <if test="record.pf != null" >
        pf = #{record.pf,jdbcType=VARCHAR},
      </if>
      <if test="record.gsqg != null" >
        gsqg = #{record.gsqg,jdbcType=VARCHAR},
      </if>
      <if test="record.xnxgxt != null" >
        xnxgxt = #{record.xnxgxt,jdbcType=VARCHAR},
      </if>
      <if test="record.wcd != null" >
        wcd = #{record.wcd,jdbcType=VARCHAR},
      </if>
      <if test="record.xyxt != null" >
        xyxt = #{record.xyxt,jdbcType=VARCHAR},
      </if>
      <if test="record.gz != null" >
        gz = #{record.gz,jdbcType=VARCHAR},
      </if>
      <if test="record.dxhyyza != null" >
        dxhyyza = #{record.dxhyyza,jdbcType=VARCHAR},
      </if>
      <if test="record.patientInforId != null" >
        patient_infor_id = #{record.patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blfy
    set blfy_id = #{record.blfyId,jdbcType=INTEGER},
      body = #{record.body,jdbcType=VARCHAR},
      zssjxt = #{record.zssjxt,jdbcType=VARCHAR},
      pf = #{record.pf,jdbcType=VARCHAR},
      gsqg = #{record.gsqg,jdbcType=VARCHAR},
      xnxgxt = #{record.xnxgxt,jdbcType=VARCHAR},
      wcd = #{record.wcd,jdbcType=VARCHAR},
      xyxt = #{record.xyxt,jdbcType=VARCHAR},
      gz = #{record.gz,jdbcType=VARCHAR},
      dxhyyza = #{record.dxhyyza,jdbcType=VARCHAR},
      patient_infor_id = #{record.patientInforId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.secret.po.Blfy" >
    update blfy
    <set >
      <if test="body != null" >
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="zssjxt != null" >
        zssjxt = #{zssjxt,jdbcType=VARCHAR},
      </if>
      <if test="pf != null" >
        pf = #{pf,jdbcType=VARCHAR},
      </if>
      <if test="gsqg != null" >
        gsqg = #{gsqg,jdbcType=VARCHAR},
      </if>
      <if test="xnxgxt != null" >
        xnxgxt = #{xnxgxt,jdbcType=VARCHAR},
      </if>
      <if test="wcd != null" >
        wcd = #{wcd,jdbcType=VARCHAR},
      </if>
      <if test="xyxt != null" >
        xyxt = #{xyxt,jdbcType=VARCHAR},
      </if>
      <if test="gz != null" >
        gz = #{gz,jdbcType=VARCHAR},
      </if>
      <if test="dxhyyza != null" >
        dxhyyza = #{dxhyyza,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        patient_infor_id = #{patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    where blfy_id = #{blfyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.secret.po.Blfy" >
    update blfy
    set body = #{body,jdbcType=VARCHAR},
      zssjxt = #{zssjxt,jdbcType=VARCHAR},
      pf = #{pf,jdbcType=VARCHAR},
      gsqg = #{gsqg,jdbcType=VARCHAR},
      xnxgxt = #{xnxgxt,jdbcType=VARCHAR},
      wcd = #{wcd,jdbcType=VARCHAR},
      xyxt = #{xyxt,jdbcType=VARCHAR},
      gz = #{gz,jdbcType=VARCHAR},
      dxhyyza = #{dxhyyza,jdbcType=VARCHAR},
      patient_infor_id = #{patientInforId,jdbcType=INTEGER}
    where blfy_id = #{blfyId,jdbcType=INTEGER}
  </update>
</mapper>