<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.CrfInforMapper" >
  <resultMap id="BaseResultMap" type="com.creat.secret.po.CrfInfor" >
    <id column="crf_id" property="crfId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="submited" property="submited" jdbcType="BIT" />
    <result column="patient_infor_id" property="patientInforId" jdbcType="INTEGER" />
    <result column="finished" property="finished" jdbcType="INTEGER" />
    <result column="locked" property="locked" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    crf_id, create_date, submited, patient_infor_id, finished, locked
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.CrfInforExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crf_infor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crf_infor
    where crf_id = #{crfId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from crf_infor
    where crf_id = #{crfId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.secret.po.CrfInforExample" >
    delete from crf_infor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.secret.po.CrfInfor" useGeneratedKeys="true" keyProperty="crfId">
    insert into crf_infor (crf_id, create_date, submited, 
      patient_infor_id, finished, locked
      )
    values (#{crfId,jdbcType=INTEGER}, #{createDate,jdbcType=VARCHAR}, #{submited,jdbcType=BIT}, 
      #{patientInforId,jdbcType=INTEGER}, #{finished,jdbcType=INTEGER}, #{locked,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.creat.secret.po.CrfInfor" >
    insert into crf_infor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="crfId != null" >
        crf_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="submited != null" >
        submited,
      </if>
      <if test="patientInforId != null" >
        patient_infor_id,
      </if>
      <if test="finished != null" >
        finished,
      </if>
      <if test="locked != null" >
        locked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="crfId != null" >
        #{crfId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="submited != null" >
        #{submited,jdbcType=BIT},
      </if>
      <if test="patientInforId != null" >
        #{patientInforId,jdbcType=INTEGER},
      </if>
      <if test="finished != null" >
        #{finished,jdbcType=INTEGER},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.secret.po.CrfInforExample" resultType="java.lang.Integer" >
    select count(*) from crf_infor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update crf_infor
    <set >
      <if test="record.crfId != null" >
        crf_id = #{record.crfId,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.submited != null" >
        submited = #{record.submited,jdbcType=BIT},
      </if>
      <if test="record.patientInforId != null" >
        patient_infor_id = #{record.patientInforId,jdbcType=INTEGER},
      </if>
      <if test="record.finished != null" >
        finished = #{record.finished,jdbcType=INTEGER},
      </if>
      <if test="record.locked != null" >
        locked = #{record.locked,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update crf_infor
    set crf_id = #{record.crfId,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=VARCHAR},
      submited = #{record.submited,jdbcType=BIT},
      patient_infor_id = #{record.patientInforId,jdbcType=INTEGER},
      finished = #{record.finished,jdbcType=INTEGER},
      locked = #{record.locked,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.secret.po.CrfInfor" >
    update crf_infor
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="submited != null" >
        submited = #{submited,jdbcType=BIT},
      </if>
      <if test="patientInforId != null" >
        patient_infor_id = #{patientInforId,jdbcType=INTEGER},
      </if>
      <if test="finished != null" >
        finished = #{finished,jdbcType=INTEGER},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
    </set>
    where crf_id = #{crfId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.secret.po.CrfInfor" >
    update crf_infor
    set create_date = #{createDate,jdbcType=VARCHAR},
      submited = #{submited,jdbcType=BIT},
      patient_infor_id = #{patientInforId,jdbcType=INTEGER},
      finished = #{finished,jdbcType=INTEGER},
      locked = #{locked,jdbcType=BIT}
    where crf_id = #{crfId,jdbcType=INTEGER}
  </update>
</mapper>