<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.CrfRecordMapper">
    <resultMap id="BaseResultMap" type="com.creat.secret.po.CrfRecord" >
        <id column="crf_id" property="crfId" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="VARCHAR" />
        <result column="submited" property="submited" jdbcType="BIT" />
        <result column="patient_infor_id" property="patientInforId" jdbcType="INTEGER" />
        <result column="finished" property="finished" jdbcType="INTEGER" />
        <result column="locked" property="locked" jdbcType="BIT" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tel_one" property="telOne" jdbcType="CHAR"/>
    </resultMap>
    <select id="selectAllByDoctorId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      SELECT crf_id,create_date,submited,patient_infor.patient_infor_id,finished,name,tel_one,locked
      FROM crf_infor , patient_infor , hospital_infor WHERE hospital_infor.doctor_id=#{doctorId}
      AND crf_infor.patient_infor_id=hospital_infor.patient_infor_id
      AND patient_infor.patient_infor_id = hospital_infor.patient_infor_id
    </select>
</mapper>