<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.IllMapper" >
  <resultMap id="BaseResultMap" type="com.creat.secret.po.Ill" >
    <id column="ill_id" property="illId" jdbcType="INTEGER" />
    <result column="dx_type" property="dxType" jdbcType="VARCHAR" />
    <result column="one_pl" property="onePl" jdbcType="VARCHAR" />
    <result column="one_dw" property="oneDw" jdbcType="VARCHAR" />
    <result column="two_pl" property="twoPl" jdbcType="VARCHAR" />
    <result column="two_dw" property="twoDw" jdbcType="VARCHAR" />
    <result column="three_pl" property="threePl" jdbcType="VARCHAR" />
    <result column="three_dw" property="threeDw" jdbcType="VARCHAR" />
    <result column="patient_infor_id" property="patientInforId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ill_id, dx_type, one_pl, one_dw, two_pl, two_dw, three_pl, three_dw, patient_infor_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.IllExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ill
    where ill_id = #{illId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ill
    where ill_id = #{illId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.secret.po.IllExample" >
    delete from ill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.secret.po.Ill" useGeneratedKeys="true" keyProperty="illId">
    insert into ill (ill_id, dx_type, one_pl, 
      one_dw, two_pl, two_dw, 
      three_pl, three_dw, patient_infor_id
      )
    values (#{illId,jdbcType=INTEGER}, #{dxType,jdbcType=VARCHAR}, #{onePl,jdbcType=VARCHAR}, 
      #{oneDw,jdbcType=VARCHAR}, #{twoPl,jdbcType=VARCHAR}, #{twoDw,jdbcType=VARCHAR}, 
      #{threePl,jdbcType=VARCHAR}, #{threeDw,jdbcType=VARCHAR}, #{patientInforId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.creat.secret.po.Ill" >
    insert into ill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="illId != null" >
        ill_id,
      </if>
      <if test="dxType != null" >
        dx_type,
      </if>
      <if test="onePl != null" >
        one_pl,
      </if>
      <if test="oneDw != null" >
        one_dw,
      </if>
      <if test="twoPl != null" >
        two_pl,
      </if>
      <if test="twoDw != null" >
        two_dw,
      </if>
      <if test="threePl != null" >
        three_pl,
      </if>
      <if test="threeDw != null" >
        three_dw,
      </if>
      <if test="patientInforId != null" >
        patient_infor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="illId != null" >
        #{illId,jdbcType=INTEGER},
      </if>
      <if test="dxType != null" >
        #{dxType,jdbcType=VARCHAR},
      </if>
      <if test="onePl != null" >
        #{onePl,jdbcType=VARCHAR},
      </if>
      <if test="oneDw != null" >
        #{oneDw,jdbcType=VARCHAR},
      </if>
      <if test="twoPl != null" >
        #{twoPl,jdbcType=VARCHAR},
      </if>
      <if test="twoDw != null" >
        #{twoDw,jdbcType=VARCHAR},
      </if>
      <if test="threePl != null" >
        #{threePl,jdbcType=VARCHAR},
      </if>
      <if test="threeDw != null" >
        #{threeDw,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        #{patientInforId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.secret.po.IllExample" resultType="java.lang.Integer" >
    select count(*) from ill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ill
    <set >
      <if test="record.illId != null" >
        ill_id = #{record.illId,jdbcType=INTEGER},
      </if>
      <if test="record.dxType != null" >
        dx_type = #{record.dxType,jdbcType=VARCHAR},
      </if>
      <if test="record.onePl != null" >
        one_pl = #{record.onePl,jdbcType=VARCHAR},
      </if>
      <if test="record.oneDw != null" >
        one_dw = #{record.oneDw,jdbcType=VARCHAR},
      </if>
      <if test="record.twoPl != null" >
        two_pl = #{record.twoPl,jdbcType=VARCHAR},
      </if>
      <if test="record.twoDw != null" >
        two_dw = #{record.twoDw,jdbcType=VARCHAR},
      </if>
      <if test="record.threePl != null" >
        three_pl = #{record.threePl,jdbcType=VARCHAR},
      </if>
      <if test="record.threeDw != null" >
        three_dw = #{record.threeDw,jdbcType=VARCHAR},
      </if>
      <if test="record.patientInforId != null" >
        patient_infor_id = #{record.patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ill
    set ill_id = #{record.illId,jdbcType=INTEGER},
      dx_type = #{record.dxType,jdbcType=VARCHAR},
      one_pl = #{record.onePl,jdbcType=VARCHAR},
      one_dw = #{record.oneDw,jdbcType=VARCHAR},
      two_pl = #{record.twoPl,jdbcType=VARCHAR},
      two_dw = #{record.twoDw,jdbcType=VARCHAR},
      three_pl = #{record.threePl,jdbcType=VARCHAR},
      three_dw = #{record.threeDw,jdbcType=VARCHAR},
      patient_infor_id = #{record.patientInforId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.secret.po.Ill" >
    update ill
    <set >
      <if test="dxType != null" >
        dx_type = #{dxType,jdbcType=VARCHAR},
      </if>
      <if test="onePl != null" >
        one_pl = #{onePl,jdbcType=VARCHAR},
      </if>
      <if test="oneDw != null" >
        one_dw = #{oneDw,jdbcType=VARCHAR},
      </if>
      <if test="twoPl != null" >
        two_pl = #{twoPl,jdbcType=VARCHAR},
      </if>
      <if test="twoDw != null" >
        two_dw = #{twoDw,jdbcType=VARCHAR},
      </if>
      <if test="threePl != null" >
        three_pl = #{threePl,jdbcType=VARCHAR},
      </if>
      <if test="threeDw != null" >
        three_dw = #{threeDw,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        patient_infor_id = #{patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    where ill_id = #{illId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.secret.po.Ill" >
    update ill
    set dx_type = #{dxType,jdbcType=VARCHAR},
      one_pl = #{onePl,jdbcType=VARCHAR},
      one_dw = #{oneDw,jdbcType=VARCHAR},
      two_pl = #{twoPl,jdbcType=VARCHAR},
      two_dw = #{twoDw,jdbcType=VARCHAR},
      three_pl = #{threePl,jdbcType=VARCHAR},
      three_dw = #{threeDw,jdbcType=VARCHAR},
      patient_infor_id = #{patientInforId,jdbcType=INTEGER}
    where ill_id = #{illId,jdbcType=INTEGER}
  </update>
</mapper>