<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.PastIllMapper" >
  <resultMap id="BaseResultMap" type="com.creat.secret.po.PastIll" >
    <id column="past_id" property="pastId" jdbcType="INTEGER" />
    <result column="has_dx" property="hasDx" jdbcType="CHAR" />
    <result column="dx_tpye" property="dxTpye" jdbcType="VARCHAR" />
    <result column="gxy" property="gxy" jdbcType="VARCHAR" />
    <result column="has_tnb" property="hasTnb" jdbcType="CHAR" />
    <result column="other_ill" property="otherIll" jdbcType="VARCHAR" />
    <result column="has_ycsfq" property="hasYcsfq" jdbcType="CHAR" />
    <result column="ycsfq" property="ycsfq" jdbcType="VARCHAR" />
    <result column="has_jzsfq" property="hasJzsfq" jdbcType="CHAR" />
    <result column="jzsfq" property="jzsfq" jdbcType="VARCHAR" />
    <result column="has_ycsmq" property="hasYcsmq" jdbcType="CHAR" />
    <result column="ycsmq" property="ycsmq" jdbcType="VARCHAR" />
    <result column="has_jzsmq" property="hasJzsmq" jdbcType="CHAR" />
    <result column="jzsmq" property="jzsmq" jdbcType="VARCHAR" />
    <result column="patient_infor_id" property="patientInforId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    past_id, has_dx, dx_tpye, gxy, has_tnb, other_ill, has_ycsfq, ycsfq, has_jzsfq, jzsfq, 
    has_ycsmq, ycsmq, has_jzsmq, jzsmq, patient_infor_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.PastIllExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from past_ill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from past_ill
    where past_id = #{pastId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from past_ill
    where past_id = #{pastId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.secret.po.PastIllExample" >
    delete from past_ill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.secret.po.PastIll" useGeneratedKeys="true" keyProperty="pastId">
    insert into past_ill (past_id, has_dx, dx_tpye, 
      gxy, has_tnb, other_ill, 
      has_ycsfq, ycsfq, has_jzsfq, 
      jzsfq, has_ycsmq, ycsmq, 
      has_jzsmq, jzsmq, patient_infor_id
      )
    values (#{pastId,jdbcType=INTEGER}, #{hasDx,jdbcType=CHAR}, #{dxTpye,jdbcType=VARCHAR}, 
      #{gxy,jdbcType=VARCHAR}, #{hasTnb,jdbcType=CHAR}, #{otherIll,jdbcType=VARCHAR}, 
      #{hasYcsfq,jdbcType=CHAR}, #{ycsfq,jdbcType=VARCHAR}, #{hasJzsfq,jdbcType=CHAR}, 
      #{jzsfq,jdbcType=VARCHAR}, #{hasYcsmq,jdbcType=CHAR}, #{ycsmq,jdbcType=VARCHAR}, 
      #{hasJzsmq,jdbcType=CHAR}, #{jzsmq,jdbcType=VARCHAR}, #{patientInforId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.creat.secret.po.PastIll" >
    insert into past_ill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pastId != null" >
        past_id,
      </if>
      <if test="hasDx != null" >
        has_dx,
      </if>
      <if test="dxTpye != null" >
        dx_tpye,
      </if>
      <if test="gxy != null" >
        gxy,
      </if>
      <if test="hasTnb != null" >
        has_tnb,
      </if>
      <if test="otherIll != null" >
        other_ill,
      </if>
      <if test="hasYcsfq != null" >
        has_ycsfq,
      </if>
      <if test="ycsfq != null" >
        ycsfq,
      </if>
      <if test="hasJzsfq != null" >
        has_jzsfq,
      </if>
      <if test="jzsfq != null" >
        jzsfq,
      </if>
      <if test="hasYcsmq != null" >
        has_ycsmq,
      </if>
      <if test="ycsmq != null" >
        ycsmq,
      </if>
      <if test="hasJzsmq != null" >
        has_jzsmq,
      </if>
      <if test="jzsmq != null" >
        jzsmq,
      </if>
      <if test="patientInforId != null" >
        patient_infor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pastId != null" >
        #{pastId,jdbcType=INTEGER},
      </if>
      <if test="hasDx != null" >
        #{hasDx,jdbcType=CHAR},
      </if>
      <if test="dxTpye != null" >
        #{dxTpye,jdbcType=VARCHAR},
      </if>
      <if test="gxy != null" >
        #{gxy,jdbcType=VARCHAR},
      </if>
      <if test="hasTnb != null" >
        #{hasTnb,jdbcType=CHAR},
      </if>
      <if test="otherIll != null" >
        #{otherIll,jdbcType=VARCHAR},
      </if>
      <if test="hasYcsfq != null" >
        #{hasYcsfq,jdbcType=CHAR},
      </if>
      <if test="ycsfq != null" >
        #{ycsfq,jdbcType=VARCHAR},
      </if>
      <if test="hasJzsfq != null" >
        #{hasJzsfq,jdbcType=CHAR},
      </if>
      <if test="jzsfq != null" >
        #{jzsfq,jdbcType=VARCHAR},
      </if>
      <if test="hasYcsmq != null" >
        #{hasYcsmq,jdbcType=CHAR},
      </if>
      <if test="ycsmq != null" >
        #{ycsmq,jdbcType=VARCHAR},
      </if>
      <if test="hasJzsmq != null" >
        #{hasJzsmq,jdbcType=CHAR},
      </if>
      <if test="jzsmq != null" >
        #{jzsmq,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        #{patientInforId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.secret.po.PastIllExample" resultType="java.lang.Integer" >
    select count(*) from past_ill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update past_ill
    <set >
      <if test="record.pastId != null" >
        past_id = #{record.pastId,jdbcType=INTEGER},
      </if>
      <if test="record.hasDx != null" >
        has_dx = #{record.hasDx,jdbcType=CHAR},
      </if>
      <if test="record.dxTpye != null" >
        dx_tpye = #{record.dxTpye,jdbcType=VARCHAR},
      </if>
      <if test="record.gxy != null" >
        gxy = #{record.gxy,jdbcType=VARCHAR},
      </if>
      <if test="record.hasTnb != null" >
        has_tnb = #{record.hasTnb,jdbcType=CHAR},
      </if>
      <if test="record.otherIll != null" >
        other_ill = #{record.otherIll,jdbcType=VARCHAR},
      </if>
      <if test="record.hasYcsfq != null" >
        has_ycsfq = #{record.hasYcsfq,jdbcType=CHAR},
      </if>
      <if test="record.ycsfq != null" >
        ycsfq = #{record.ycsfq,jdbcType=VARCHAR},
      </if>
      <if test="record.hasJzsfq != null" >
        has_jzsfq = #{record.hasJzsfq,jdbcType=CHAR},
      </if>
      <if test="record.jzsfq != null" >
        jzsfq = #{record.jzsfq,jdbcType=VARCHAR},
      </if>
      <if test="record.hasYcsmq != null" >
        has_ycsmq = #{record.hasYcsmq,jdbcType=CHAR},
      </if>
      <if test="record.ycsmq != null" >
        ycsmq = #{record.ycsmq,jdbcType=VARCHAR},
      </if>
      <if test="record.hasJzsmq != null" >
        has_jzsmq = #{record.hasJzsmq,jdbcType=CHAR},
      </if>
      <if test="record.jzsmq != null" >
        jzsmq = #{record.jzsmq,jdbcType=VARCHAR},
      </if>
      <if test="record.patientInforId != null" >
        patient_infor_id = #{record.patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update past_ill
    set past_id = #{record.pastId,jdbcType=INTEGER},
      has_dx = #{record.hasDx,jdbcType=CHAR},
      dx_tpye = #{record.dxTpye,jdbcType=VARCHAR},
      gxy = #{record.gxy,jdbcType=VARCHAR},
      has_tnb = #{record.hasTnb,jdbcType=CHAR},
      other_ill = #{record.otherIll,jdbcType=VARCHAR},
      has_ycsfq = #{record.hasYcsfq,jdbcType=CHAR},
      ycsfq = #{record.ycsfq,jdbcType=VARCHAR},
      has_jzsfq = #{record.hasJzsfq,jdbcType=CHAR},
      jzsfq = #{record.jzsfq,jdbcType=VARCHAR},
      has_ycsmq = #{record.hasYcsmq,jdbcType=CHAR},
      ycsmq = #{record.ycsmq,jdbcType=VARCHAR},
      has_jzsmq = #{record.hasJzsmq,jdbcType=CHAR},
      jzsmq = #{record.jzsmq,jdbcType=VARCHAR},
      patient_infor_id = #{record.patientInforId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.secret.po.PastIll" >
    update past_ill
    <set >
      <if test="hasDx != null" >
        has_dx = #{hasDx,jdbcType=CHAR},
      </if>
      <if test="dxTpye != null" >
        dx_tpye = #{dxTpye,jdbcType=VARCHAR},
      </if>
      <if test="gxy != null" >
        gxy = #{gxy,jdbcType=VARCHAR},
      </if>
      <if test="hasTnb != null" >
        has_tnb = #{hasTnb,jdbcType=CHAR},
      </if>
      <if test="otherIll != null" >
        other_ill = #{otherIll,jdbcType=VARCHAR},
      </if>
      <if test="hasYcsfq != null" >
        has_ycsfq = #{hasYcsfq,jdbcType=CHAR},
      </if>
      <if test="ycsfq != null" >
        ycsfq = #{ycsfq,jdbcType=VARCHAR},
      </if>
      <if test="hasJzsfq != null" >
        has_jzsfq = #{hasJzsfq,jdbcType=CHAR},
      </if>
      <if test="jzsfq != null" >
        jzsfq = #{jzsfq,jdbcType=VARCHAR},
      </if>
      <if test="hasYcsmq != null" >
        has_ycsmq = #{hasYcsmq,jdbcType=CHAR},
      </if>
      <if test="ycsmq != null" >
        ycsmq = #{ycsmq,jdbcType=VARCHAR},
      </if>
      <if test="hasJzsmq != null" >
        has_jzsmq = #{hasJzsmq,jdbcType=CHAR},
      </if>
      <if test="jzsmq != null" >
        jzsmq = #{jzsmq,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        patient_infor_id = #{patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    where past_id = #{pastId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.secret.po.PastIll" >
    update past_ill
    set has_dx = #{hasDx,jdbcType=CHAR},
      dx_tpye = #{dxTpye,jdbcType=VARCHAR},
      gxy = #{gxy,jdbcType=VARCHAR},
      has_tnb = #{hasTnb,jdbcType=CHAR},
      other_ill = #{otherIll,jdbcType=VARCHAR},
      has_ycsfq = #{hasYcsfq,jdbcType=CHAR},
      ycsfq = #{ycsfq,jdbcType=VARCHAR},
      has_jzsfq = #{hasJzsfq,jdbcType=CHAR},
      jzsfq = #{jzsfq,jdbcType=VARCHAR},
      has_ycsmq = #{hasYcsmq,jdbcType=CHAR},
      ycsmq = #{ycsmq,jdbcType=VARCHAR},
      has_jzsmq = #{hasJzsmq,jdbcType=CHAR},
      jzsmq = #{jzsmq,jdbcType=VARCHAR},
      patient_infor_id = #{patientInforId,jdbcType=INTEGER}
    where past_id = #{pastId,jdbcType=INTEGER}
  </update>
</mapper>