<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.TjxmMapper" >
  <resultMap id="BaseResultMap" type="com.creat.secret.po.Tjxm" >
    <id column="tjxm_id" property="tjxmId" jdbcType="INTEGER" />
    <result column="ggn_alt" property="ggnAlt" jdbcType="VARCHAR" />
    <result column="ggn_ast" property="ggnAst" jdbcType="VARCHAR" />
    <result column="sgn_jg" property="sgnJg" jdbcType="VARCHAR" />
    <result column="sgn_nsd" property="sgnNsd" jdbcType="VARCHAR" />
    <result column="hcgz" property="hcgz" jdbcType="VARCHAR" />
    <result column="xqn" property="xqn" jdbcType="VARCHAR" />
    <result column="has_ywgm" property="hasYwgm" jdbcType="VARCHAR" />
    <result column="ywgm" property="ywgm" jdbcType="VARCHAR" />
    <result column="steven" property="steven" jdbcType="VARCHAR" />
    <result column="patient_infor_id" property="patientInforId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tjxm_id, ggn_alt, ggn_ast, sgn_jg, sgn_nsd, hcgz, xqn, has_ywgm, ywgm, steven, patient_infor_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.TjxmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tjxm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tjxm
    where tjxm_id = #{tjxmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tjxm
    where tjxm_id = #{tjxmId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.secret.po.TjxmExample" >
    delete from tjxm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.secret.po.Tjxm" useGeneratedKeys="true" keyProperty="tjxmId">
    insert into tjxm (tjxm_id, ggn_alt, ggn_ast, 
      sgn_jg, sgn_nsd, hcgz, 
      xqn, has_ywgm, ywgm, 
      steven, patient_infor_id)
    values (#{tjxmId,jdbcType=INTEGER}, #{ggnAlt,jdbcType=VARCHAR}, #{ggnAst,jdbcType=VARCHAR}, 
      #{sgnJg,jdbcType=VARCHAR}, #{sgnNsd,jdbcType=VARCHAR}, #{hcgz,jdbcType=VARCHAR}, 
      #{xqn,jdbcType=VARCHAR}, #{hasYwgm,jdbcType=VARCHAR}, #{ywgm,jdbcType=VARCHAR}, 
      #{steven,jdbcType=VARCHAR}, #{patientInforId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.creat.secret.po.Tjxm" >
    insert into tjxm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tjxmId != null" >
        tjxm_id,
      </if>
      <if test="ggnAlt != null" >
        ggn_alt,
      </if>
      <if test="ggnAst != null" >
        ggn_ast,
      </if>
      <if test="sgnJg != null" >
        sgn_jg,
      </if>
      <if test="sgnNsd != null" >
        sgn_nsd,
      </if>
      <if test="hcgz != null" >
        hcgz,
      </if>
      <if test="xqn != null" >
        xqn,
      </if>
      <if test="hasYwgm != null" >
        has_ywgm,
      </if>
      <if test="ywgm != null" >
        ywgm,
      </if>
      <if test="steven != null" >
        steven,
      </if>
      <if test="patientInforId != null" >
        patient_infor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tjxmId != null" >
        #{tjxmId,jdbcType=INTEGER},
      </if>
      <if test="ggnAlt != null" >
        #{ggnAlt,jdbcType=VARCHAR},
      </if>
      <if test="ggnAst != null" >
        #{ggnAst,jdbcType=VARCHAR},
      </if>
      <if test="sgnJg != null" >
        #{sgnJg,jdbcType=VARCHAR},
      </if>
      <if test="sgnNsd != null" >
        #{sgnNsd,jdbcType=VARCHAR},
      </if>
      <if test="hcgz != null" >
        #{hcgz,jdbcType=VARCHAR},
      </if>
      <if test="xqn != null" >
        #{xqn,jdbcType=VARCHAR},
      </if>
      <if test="hasYwgm != null" >
        #{hasYwgm,jdbcType=VARCHAR},
      </if>
      <if test="ywgm != null" >
        #{ywgm,jdbcType=VARCHAR},
      </if>
      <if test="steven != null" >
        #{steven,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        #{patientInforId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.secret.po.TjxmExample" resultType="java.lang.Integer" >
    select count(*) from tjxm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tjxm
    <set >
      <if test="record.tjxmId != null" >
        tjxm_id = #{record.tjxmId,jdbcType=INTEGER},
      </if>
      <if test="record.ggnAlt != null" >
        ggn_alt = #{record.ggnAlt,jdbcType=VARCHAR},
      </if>
      <if test="record.ggnAst != null" >
        ggn_ast = #{record.ggnAst,jdbcType=VARCHAR},
      </if>
      <if test="record.sgnJg != null" >
        sgn_jg = #{record.sgnJg,jdbcType=VARCHAR},
      </if>
      <if test="record.sgnNsd != null" >
        sgn_nsd = #{record.sgnNsd,jdbcType=VARCHAR},
      </if>
      <if test="record.hcgz != null" >
        hcgz = #{record.hcgz,jdbcType=VARCHAR},
      </if>
      <if test="record.xqn != null" >
        xqn = #{record.xqn,jdbcType=VARCHAR},
      </if>
      <if test="record.hasYwgm != null" >
        has_ywgm = #{record.hasYwgm,jdbcType=VARCHAR},
      </if>
      <if test="record.ywgm != null" >
        ywgm = #{record.ywgm,jdbcType=VARCHAR},
      </if>
      <if test="record.steven != null" >
        steven = #{record.steven,jdbcType=VARCHAR},
      </if>
      <if test="record.patientInforId != null" >
        patient_infor_id = #{record.patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tjxm
    set tjxm_id = #{record.tjxmId,jdbcType=INTEGER},
      ggn_alt = #{record.ggnAlt,jdbcType=VARCHAR},
      ggn_ast = #{record.ggnAst,jdbcType=VARCHAR},
      sgn_jg = #{record.sgnJg,jdbcType=VARCHAR},
      sgn_nsd = #{record.sgnNsd,jdbcType=VARCHAR},
      hcgz = #{record.hcgz,jdbcType=VARCHAR},
      xqn = #{record.xqn,jdbcType=VARCHAR},
      has_ywgm = #{record.hasYwgm,jdbcType=VARCHAR},
      ywgm = #{record.ywgm,jdbcType=VARCHAR},
      steven = #{record.steven,jdbcType=VARCHAR},
      patient_infor_id = #{record.patientInforId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.secret.po.Tjxm" >
    update tjxm
    <set >
      <if test="ggnAlt != null" >
        ggn_alt = #{ggnAlt,jdbcType=VARCHAR},
      </if>
      <if test="ggnAst != null" >
        ggn_ast = #{ggnAst,jdbcType=VARCHAR},
      </if>
      <if test="sgnJg != null" >
        sgn_jg = #{sgnJg,jdbcType=VARCHAR},
      </if>
      <if test="sgnNsd != null" >
        sgn_nsd = #{sgnNsd,jdbcType=VARCHAR},
      </if>
      <if test="hcgz != null" >
        hcgz = #{hcgz,jdbcType=VARCHAR},
      </if>
      <if test="xqn != null" >
        xqn = #{xqn,jdbcType=VARCHAR},
      </if>
      <if test="hasYwgm != null" >
        has_ywgm = #{hasYwgm,jdbcType=VARCHAR},
      </if>
      <if test="ywgm != null" >
        ywgm = #{ywgm,jdbcType=VARCHAR},
      </if>
      <if test="steven != null" >
        steven = #{steven,jdbcType=VARCHAR},
      </if>
      <if test="patientInforId != null" >
        patient_infor_id = #{patientInforId,jdbcType=INTEGER},
      </if>
    </set>
    where tjxm_id = #{tjxmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.secret.po.Tjxm" >
    update tjxm
    set ggn_alt = #{ggnAlt,jdbcType=VARCHAR},
      ggn_ast = #{ggnAst,jdbcType=VARCHAR},
      sgn_jg = #{sgnJg,jdbcType=VARCHAR},
      sgn_nsd = #{sgnNsd,jdbcType=VARCHAR},
      hcgz = #{hcgz,jdbcType=VARCHAR},
      xqn = #{xqn,jdbcType=VARCHAR},
      has_ywgm = #{hasYwgm,jdbcType=VARCHAR},
      ywgm = #{ywgm,jdbcType=VARCHAR},
      steven = #{steven,jdbcType=VARCHAR},
      patient_infor_id = #{patientInforId,jdbcType=INTEGER}
    where tjxm_id = #{tjxmId,jdbcType=INTEGER}
  </update>
</mapper>