<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.XyndMapper" >
  <resultMap id="BaseResultMap" type="com.creat.secret.po.Xynd" >
    <id column="xynd_id" property="xyndId" jdbcType="INTEGER" />
    <result column="yyqk_id" property="yyqkId" jdbcType="INTEGER" />
    <result column="fnd" property="fnd" jdbcType="VARCHAR" />
    <result column="gnd" property="gnd" jdbcType="VARCHAR" />
    <result column="yysj" property="yysj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    xynd_id, yyqk_id, fnd, gnd, yysj
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.XyndExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xynd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xynd
    where xynd_id = #{xyndId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xynd
    where xynd_id = #{xyndId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.secret.po.XyndExample" >
    delete from xynd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.secret.po.Xynd" useGeneratedKeys="true" keyProperty="xyndId">
    insert into xynd (xynd_id, yyqk_id, fnd, 
      gnd, yysj)
    values (#{xyndId,jdbcType=INTEGER}, #{yyqkId,jdbcType=INTEGER}, #{fnd,jdbcType=VARCHAR}, 
      #{gnd,jdbcType=VARCHAR}, #{yysj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.creat.secret.po.Xynd" >
    insert into xynd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xyndId != null" >
        xynd_id,
      </if>
      <if test="yyqkId != null" >
        yyqk_id,
      </if>
      <if test="fnd != null" >
        fnd,
      </if>
      <if test="gnd != null" >
        gnd,
      </if>
      <if test="yysj != null" >
        yysj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xyndId != null" >
        #{xyndId,jdbcType=INTEGER},
      </if>
      <if test="yyqkId != null" >
        #{yyqkId,jdbcType=INTEGER},
      </if>
      <if test="fnd != null" >
        #{fnd,jdbcType=VARCHAR},
      </if>
      <if test="gnd != null" >
        #{gnd,jdbcType=VARCHAR},
      </if>
      <if test="yysj != null" >
        #{yysj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.secret.po.XyndExample" resultType="java.lang.Integer" >
    select count(*) from xynd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xynd
    <set >
      <if test="record.xyndId != null" >
        xynd_id = #{record.xyndId,jdbcType=INTEGER},
      </if>
      <if test="record.yyqkId != null" >
        yyqk_id = #{record.yyqkId,jdbcType=INTEGER},
      </if>
      <if test="record.fnd != null" >
        fnd = #{record.fnd,jdbcType=VARCHAR},
      </if>
      <if test="record.gnd != null" >
        gnd = #{record.gnd,jdbcType=VARCHAR},
      </if>
      <if test="record.yysj != null" >
        yysj = #{record.yysj,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xynd
    set xynd_id = #{record.xyndId,jdbcType=INTEGER},
      yyqk_id = #{record.yyqkId,jdbcType=INTEGER},
      fnd = #{record.fnd,jdbcType=VARCHAR},
      gnd = #{record.gnd,jdbcType=VARCHAR},
      yysj = #{record.yysj,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.secret.po.Xynd" >
    update xynd
    <set >
      <if test="yyqkId != null" >
        yyqk_id = #{yyqkId,jdbcType=INTEGER},
      </if>
      <if test="fnd != null" >
        fnd = #{fnd,jdbcType=VARCHAR},
      </if>
      <if test="gnd != null" >
        gnd = #{gnd,jdbcType=VARCHAR},
      </if>
      <if test="yysj != null" >
        yysj = #{yysj,jdbcType=VARCHAR},
      </if>
    </set>
    where xynd_id = #{xyndId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.secret.po.Xynd" >
    update xynd
    set yyqk_id = #{yyqkId,jdbcType=INTEGER},
      fnd = #{fnd,jdbcType=VARCHAR},
      gnd = #{gnd,jdbcType=VARCHAR},
      yysj = #{yysj,jdbcType=VARCHAR}
    where xynd_id = #{xyndId,jdbcType=INTEGER}
  </update>
</mapper>