<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.YyqkMapper" >
  <resultMap id="BaseResultMap" type="com.creat.secret.po.Yyqk" >
    <id column="yyqk_id" property="yyqkId" jdbcType="INTEGER" />
    <result column="yymc" property="yymc" jdbcType="VARCHAR" />
    <result column="yypp" property="yypp" jdbcType="VARCHAR" />
    <result column="yyjl_cs" property="yyjlCs" jdbcType="INTEGER" />
    <result column="yyjl_yl" property="yyjlYl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="zlqk_id" property="zlqkId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    yyqk_id, yymc, yypp, yyjl_cs, yyjl_yl, type, zlqk_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.YyqkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yyqk
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yyqk
    where yyqk_id = #{yyqkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yyqk
    where yyqk_id = #{yyqkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.secret.po.YyqkExample" >
    delete from yyqk
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.secret.po.Yyqk"
          useGeneratedKeys="true" keyProperty="yyqkId">
    insert into yyqk (yyqk_id, yymc, yypp, 
      yyjl_cs, yyjl_yl, type, 
      zlqk_id)
    values (#{yyqkId,jdbcType=INTEGER}, #{yymc,jdbcType=VARCHAR}, #{yypp,jdbcType=VARCHAR}, 
      #{yyjlCs,jdbcType=INTEGER}, #{yyjlYl,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{zlqkId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.creat.secret.po.Yyqk" >
    insert into yyqk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yyqkId != null" >
        yyqk_id,
      </if>
      <if test="yymc != null" >
        yymc,
      </if>
      <if test="yypp != null" >
        yypp,
      </if>
      <if test="yyjlCs != null" >
        yyjl_cs,
      </if>
      <if test="yyjlYl != null" >
        yyjl_yl,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="zlqkId != null" >
        zlqk_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yyqkId != null" >
        #{yyqkId,jdbcType=INTEGER},
      </if>
      <if test="yymc != null" >
        #{yymc,jdbcType=VARCHAR},
      </if>
      <if test="yypp != null" >
        #{yypp,jdbcType=VARCHAR},
      </if>
      <if test="yyjlCs != null" >
        #{yyjlCs,jdbcType=INTEGER},
      </if>
      <if test="yyjlYl != null" >
        #{yyjlYl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="zlqkId != null" >
        #{zlqkId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.secret.po.YyqkExample" resultType="java.lang.Integer" >
    select count(*) from yyqk
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yyqk
    <set >
      <if test="record.yyqkId != null" >
        yyqk_id = #{record.yyqkId,jdbcType=INTEGER},
      </if>
      <if test="record.yymc != null" >
        yymc = #{record.yymc,jdbcType=VARCHAR},
      </if>
      <if test="record.yypp != null" >
        yypp = #{record.yypp,jdbcType=VARCHAR},
      </if>
      <if test="record.yyjlCs != null" >
        yyjl_cs = #{record.yyjlCs,jdbcType=INTEGER},
      </if>
      <if test="record.yyjlYl != null" >
        yyjl_yl = #{record.yyjlYl,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.zlqkId != null" >
        zlqk_id = #{record.zlqkId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yyqk
    set yyqk_id = #{record.yyqkId,jdbcType=INTEGER},
      yymc = #{record.yymc,jdbcType=VARCHAR},
      yypp = #{record.yypp,jdbcType=VARCHAR},
      yyjl_cs = #{record.yyjlCs,jdbcType=INTEGER},
      yyjl_yl = #{record.yyjlYl,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      zlqk_id = #{record.zlqkId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.secret.po.Yyqk" >
    update yyqk
    <set >
      <if test="yymc != null" >
        yymc = #{yymc,jdbcType=VARCHAR},
      </if>
      <if test="yypp != null" >
        yypp = #{yypp,jdbcType=VARCHAR},
      </if>
      <if test="yyjlCs != null" >
        yyjl_cs = #{yyjlCs,jdbcType=INTEGER},
      </if>
      <if test="yyjlYl != null" >
        yyjl_yl = #{yyjlYl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="zlqkId != null" >
        zlqk_id = #{zlqkId,jdbcType=INTEGER},
      </if>
    </set>
    where yyqk_id = #{yyqkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.secret.po.Yyqk" >
    update yyqk
    set yymc = #{yymc,jdbcType=VARCHAR},
      yypp = #{yypp,jdbcType=VARCHAR},
      yyjl_cs = #{yyjlCs,jdbcType=INTEGER},
      yyjl_yl = #{yyjlYl,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      zlqk_id = #{zlqkId,jdbcType=INTEGER}
    where yyqk_id = #{yyqkId,jdbcType=INTEGER}
  </update>
</mapper>