<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.secret.mapper.YyqkCustomMapper" >
    <resultMap id="BaseResultMap" type="com.creat.secret.po.YyqkCustom" >
        <id column="yyqk_id" property="yyqkId" jdbcType="INTEGER" />
        <result column="yymc" property="yymc" jdbcType="VARCHAR" />
        <result column="yypp" property="yypp" jdbcType="VARCHAR" />
        <result column="yyjl_cs" property="yyjlCs" jdbcType="INTEGER" />
        <result column="yyjl_yl" property="yyjlYl" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="zlqk_id" property="zlqkId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        yyqk_id, yymc, yypp, yyjl_cs, yyjl_yl, type, zlqk_id
    </sql>
    <select id="selectCustomByExample" resultMap="BaseResultMap" parameterType="com.creat.secret.po.YyqkExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from yyqk
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
</mapper>